#conteudo {
    background: #dcdcdc;
    height: 400px;
    display: flex;
    /*
    valores que serão usados no Flex direction
    row | row-reverse | column | column-reverse
    */
    flex-direction: row;

    /*
    valores que serão usados no Flex wrap
    nowrap | wrap | wrap-reverse
    */
    flex-wrap: nowrap;

    /*
    valores que serão usados no justify content
    flex-end | flex-start | center | space-between | space-around
    */
    justify-content: space-around;

    /*
    valores que serão usados no align items
    stretch | center | flex-start | flex-end | baseline
    */
    align-items: baseline ;

}

.item {
    width: 100px;
    height: 100px;
    background: #FFF;
    border: 1px solid gray;
    margin: 10px;
}