<%- include('includes/head'); %>
<body>
    <section class="container">
        <h1>Lorem dento</h1>

        <form action="/" method="POST">
            <label>Client</label>
            <input type="text" name="client">
            <button type="submit">Send</button>
        </form>
    </section>

<%- include('includes/footer'); %>